body {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.thumb-normal img {
  border-radius: 15px;
  box-shadow: 0px 0px 5px var(--image-shadow);
}

